.faq-link,
.faq-link:hover,
.faq-link:active,
.faq-link:focus {
  color: #7209b7;
}

.program p {
  line-height: 2;
}

.dressCodeImg {
  object-position: center 33%;
  width: 100%;
  margin-bottom: 2.5rem;
}

.contentWrapper img {
  object-fit: cover;
  height: 250px;
}
