.button__input {
  color: #1c1b2d;
  background-color: white;
  border: 1px solid #1c1b2d;
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;

  margin-top: 35px;
  line-height: 0;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  width: 100%;
}

.button__input:hover,
.button__input:active,
.button__input:focus {
  color: white;
  background-color: #1c1b2d;
  border: 1px solid white;
}
