.form {
  z-index: 100;
  background: white;
  border-radius: 30px;
  padding: 40px;
  right: 40px;
  top: 40px;
  min-width: 320px;
  max-width: 540px;
  width: 100%;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 16px;
}

.form-input {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.subText {
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin: 12px 0 24px;
}
