/* colors: 
#F72585;
#7209B7;
#3A0CA3;
#4361EE;
#4CC9F0; */
.root {
  margin: 0 auto;
  width: 87.5%;
  max-width: 1260px;
  padding-bottom: 80px;
  text-align: center;
}

.swiper {
  display: none;
}

div[role="button"] {
  margin: 0 !important;
}

.imageWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 120px 0 0;
}

.imageWrapper img {
  width: 33.3%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0;
}

.linkWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
  padding-top: 40px;
  width: 100%;
}

.link {
  cursor: pointer;
  height: 300px;
  overflow: hidden;
  text-decoration: none;
  width: 50%;
}

.link:first-of-type,
.imageWrapper img:first-of-type {
  border-top-left-radius: 30px;
}

.link:nth-of-type(2),
.imageWrapper img:nth-of-type(3) {
  border-top-right-radius: 30px;
}
.link:nth-of-type(3),
.imageWrapper img:first-of-type {
  border-bottom-left-radius: 30px;
}
.link:nth-of-type(4),
.imageWrapper img:nth-of-type(3) {
  border-bottom-right-radius: 30px;
}

.linkImage {
  height: 100%;
  transition: all 0.5s;
  width: 100%;
  font-size: 8rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 560px) {
  .linkImage {
    font-size: 5.5rem;
  }
  .link {
    height: 200px;
  }
}

@media only screen and (max-width: 425px) {
  .linkImage {
    font-size: 3.5rem;
  }
  .link {
    height: 150px;
  }

  .imageWrapper {
    display: none;
  }

  .swiper {
    display: block;
    padding: 120px 0 0 !important;
  }
}

.link:hover .linkImage,
.link:focus .linkImage {
  transform: scale(1.2);
}
.link:hover .linkImage:before,
.link:focus .linkImage:before {
  display: block;
}

.linkImage::before {
  background-color: rgba(52, 73, 94, 0.75);
  content: "";
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.linkLabel {
  color: white;
  font-weight: 900;
  z-index: 1;
}

.swiper-slide img {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  top: calc(50% + 40px) !important;
}

:root {
  --swiper-navigation-size: 20px !important;
}
.swiper-pagination-bullet {
  opacity: initial !important;
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  background: black;
  padding: 9px 15px;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
}

.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after {
  left: -10px;
}

.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after {
  right: -10px;
}
