.headerLink {
  z-index: 2;
  text-decoration: none;
}

.header {
  margin: 0 0 10px 0;
  z-index: 2;
  font-size: 40px;
  color: white;
  transition: all 0.5s;
}

@media only screen and (max-width: 400px) {
  .header {
    font-size: 32px;
  }
}

.header:hover {
  color: #9cf;
}

.appWrapper {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
