.main-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  max-height: 80px;
  filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.5));
  width: 87.5%;
  max-width: 1260px;
  margin: 0 auto;
}
.main-header__wrap {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 30px 15px;
  margin: 0;
  max-height: 82px;
}

.main-header__wrap:after,
.main-header__wrap:before {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-clip-path: url(#menu-desktop);
  clip-path: url(#menu-desktop);
}

.main-header__wrap:before {
  background-color: #1c1b2d;
  top: -2;
  z-index: 2;
}

.main-header__wrap:after {
  background-color: rgba(var(--page-bg-rgb), 1);
  top: 6px;
  z-index: 1;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: white;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #9cf;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100vw;
  margin: -100px 0 0 -75px;
  padding: 50px 75px;
  padding-top: 125px;

  background: #1c1b2d;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

#menuToggle {
  position: absolute;
  left: 0;
  z-index: 100;
  left: 25px;
  top: 25px;
}

#menu {
  height: 100vh;
}

@media only screen and (max-width: 425px) {
  #menuToggle {
    top: 18px;
    left: 12px;
  }
  .main-header {
    width: 100%;
  }
}
