.admin-container {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  margin-top: 100px;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20pt;
}
.code-box {
  text-align: left;
  width: 100%;
  border: inset;
  max-height: 100px;
  overflow: scroll;
  background-color: #F0F0F0;
}