.faq-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

.wrapper {
  background-color: white;
  border-radius: 20px;
  margin: 40px 0px 40px 0px;
  max-width: 560px;
  min-width: 425px;
  padding: 24px;
  text-align: center;
}

.wrapper > h2 {
  font-size: 50pt;
  font-weight: 900;
  margin-bottom: 24px;
}

.wrapper > details {
  text-align: left;
  border-bottom: 1px solid #e6e9ed;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  padding: 22px 0;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.wrapper > details:first-of-type {
  border-top: 1px solid #e6e9ed;
}

summary {
  font-family: "PolygraphW00-Bold", sans-serif;
  font-size: 24pt;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  list-style: none;
  max-width: 90%;
}

details[open] summary {
  margin-bottom: 14px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  position: absolute;
  right: 0;
  content: "↡";
  font-size: 40px;
  top: 10px;
}

details[open] summary:after {
  content: "↟";
}

@media only screen and (max-width: 425px) {
  .wrapper {
    max-width: 90%;
    min-width: initial;
  }
}

@media only screen and (max-width: 320px) {
  .wrapper {
    padding: 24px 12px;
  }
}
