.faq-container {
  align-items: center;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.faq {
  background-color: white;
  border-radius: 20px;
  margin: 40px 0px 40px 0px;
  max-width: 800px;
  padding: 24px;
  text-align: center;
}

.faq > h1 {
  font-size: 50pt;
  font-weight: 900;
  margin-bottom: 24px;
}

.faq > h2 {
  font-family: "PolygraphW00-Bold", sans-serif;
  font-size: 24pt;
  font-weight: 900;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.faq > p {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 36px;
}
